<div class ="content">
  <h1 align ="center"> JOBS</h1>
    <div class ="brand" align= "right">
      <%= link_to 'New',  new_job_path, :class => "btn btn-primary" %>
    </div>
    <table class = "table table-striped">
      <tr>
        <th>Organization Name</th>
        <th>Title</th>
        <th>Description</th> 
        <th>Operations</th>     
        <th colspan="2"></th>
      </tr>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= job.organization.organization_name %></td>
          <td><%= job.title %></td>
          <td><%= job.description %></td>
          <td>
            <%= link_to 'Show',  job_path(job) ,:class => "btn btn-primary" %>
            <%= link_to 'Edit', edit_job_path(job),:class => "btn btn-primary"  %>
            <%= link_to 'Delete', job_path(job) ,:class => "btn btn-primary", method: :delete %>
          </td>
        </tr>
      <% end %>
  </table>
  <p align ="center">
    <%= link_to 'Top', jobs_path %>
  </p>
</div>
