<div align ="center">
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<h3 align ="center"> Create Job</h3>
  <div align ="center">
    <p align="center">
     <%= form_for :job, url: organization_jobs_path(@org.id), method: :post do |f| %>
   </p>
    <p align="center">
      <%= f.label :title %><br>
      <%= f.text_field :title, :placeholder => "Write title to job title" %>
    </p>
    <p align="center">
      <%= f.label :Description %><br>
      <%= f.text_area :description, :placeholder => "Write details for describing the job description" %>
    </p>
    <p align="center">
      <%= f.submit %>
    </p>
    <p align ="center">
      <%= link_to 'Back', organization_jobs_path %>
    </p>
     <% end %>
  </div>

