<div align= "center">
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@organization.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @organization.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3 align ="center"> Create Organization</h3>
    <div align ="center">
      <p align="center">
      <%= form_for :organization, url: organizations_path  do |f| %>
      </p>
        <p align="center">
          <%= f.label :name %><br>
          <%= f.text_field :organization_name , :placeholder => "Enter the Name"%>
        </p>
      <p align="center">
          <%= f.label :address %><br>
          <%= f.text_area :organization_address, :placeholder => "Enter the Address" %>
        </p>
      <p align="center">
          <%= f.label :email %><br>
          <%= f.text_field:organization_email, :placeholder => "Write the email address" %>
        </p>
      <p align="center">
          <%= f.submit %>
      </p>
      <p align ="center">
        <%= link_to 'Back', organizations_path %>
      </p>
      <% end %>
    </div>
</div>
  
