<%= render partial: "shared/side" %>
 <h1  align="center"> Edit organization</h1>
 <p align="center">
<%= form_for :organization, url: organization_path(@organization), method: :patch do |f| %>
</p>
 <p align="center">
    <%= f.label :name %><br>
    <%= f.text_field :organization_name %>
  </p>
 
 <p align="center">
    <%= f.label :Address %><br>
    <%= f.text_area :organization_address %>
  </p>
   <p align="center">
    <%= f.label :Email %><br>
    <%= f.text_area :organization_email %>
  </p>
 <p align="center">
    <%= f.submit %>
  </p>
 
<% end %>
<p align="center">
<%= link_to 'Back',organizations_path %>
</p>
