<!DOCTYPE html>
<html>
  <head>
    <title>Job-Portal</title>
    <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <div class ="container">
      <div class="row">
      <% if user_signed_in? %>
        <div class="side-menu left">
          <%= render partial: "layouts/side_menu" %>
        </div>
      <% end %>
      <div class="main-content right">
        <%= yield %>
      </div>
      </div>
    </div>
  </body>
</html>
